.case-home-link {
	margin-bottom: 10px;
	display: block;
	text-decoration: none;
	color: darkblue;
}

.caseBlock {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.caseContent-container {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	min-width: 400px;
}

.caseContent-container > * {
	width: 50%;
	padding-left: 5px;
	min-width: 100px;
	margin-top: 0;
}

.caseContent-title {
	font-size: 13px;
}

.caseImg-container {
	width: 30%;
	padding-right: 10px;
}

.caseImg-container img {
	background-color: lightgray;
}

@media (max-width: 500px) {
	.caseImg-container {
		width: 70%;
	}
	.caseContent-container {
		min-width: auto;
	}
}
