.csv-html-table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
	border: 1px solid #333;
	text-align: left;
}
.csv-html-table thead {
	background-color: black;
	color: white;
	/* border: 1px solid #333; */
}

.csv-html-table td {
	overflow: hidden;
}

.csv-html-table tbody tr:nth-child(odd):not(:hover) {
	background-color: white;
	transition: background-color .2s;
}

.csv-html-table tbody tr:nth-child(even):not(:hover) {
	background-color: rgb(238, 238, 238);
	transition: background-color .2s;
}

.csv-html-table td a, .csv-html-table th {
	padding: 10px 10px 10px 0;
}

.csv-html-table td:first-child a, .csv-html-table th:first-child {
	padding-left: 10px;
}

.csv-html-table td:first-child a:visited {
	color: purple;
}


.csv-html-table a {
	display: block;
	text-decoration: none;
	color: #111;
}

.csv-html-table tbody tr:hover {
	background-color: #ccc;
}